<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mobile camera stream</title>
</head>
<body>
    <video id="video" autoplay playsinline></video>
    <script>
        async function startCamera(){
            const video=document.getElementById('video');
            const stream=await navigator.mediaDevices.getUserMedia({video:true});
            video.srcObject=stream;
            const cannvas=document.createElement('canvas');
            const context=canvas.getContext('2d');

            setInterval(()=>{
                canvas.width=video.videoWidth;
                canvas.height=video.videoHeight;
                context.drawImage(video,0,0,canvas.width,canvas.height);
                canvas.toBlob(blob=>{
                    const formData=new FormData();
                    formData.append('frame', blob, 'frame.jpg');
                    fetch('http://129.254.184.235:8080/upload',{method:'POST',body:formData});
            }, 'image/jpeg');
        }, 100); //100ms마다 전송 = 초당 10프레임
    }
    startCamera();
    </script>
</body>
</html>